.App {
    text-align: center;
    height: 100vh;
}

.App-intro {
    font-size: large;
    padding: 0;
    margin: 0;
}

.backdrop {
    padding: 100px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal {
    padding: 30px;
    background-color: #fff;
    max-width: 280px;
    min-height: 80px;
    margin: 0 auto
}

.modal-content {
    padding: 15px;
}

.button {
    margin: 30px;
}

.top-part {
    height: 10%;
}

.bottom-part {
    height: 90%;
}
